<% if admin? %>
  <%= link_to 'Create New Product', new_product_path %>
<% end %>

<% content_for :header do %>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Buy products from us
        </h1>
      </div>
    </div>
  </section>
  <% end %>
  
  <div class="instrument-index-grid pt4">
    <% @products.each do |product| %>
  
     
  
  
      <div class="pa3">
  
        <h3 class="fw7 f4 title"><%= link_to product.name, product %></h3>
  
        <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>
  
        <% if admin? %>
          <%= link_to 'Edit', edit_product_path(product), class: "button is-small" %>
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } , class: "button is-small" %>
        <% end %>
        <%= link_to 'Show', product, class: "button is-small" %>
      </div>
    </div>
    <% end %>
  </div>